@value colors: '../../styles/var.module.scss';
@value gradient-coral from colors;

.App {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: gradient-coral;
}

